{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/add_goods.css">
{% endblock %}

{% block title %}发布二手{% endblock %}

{% block page_content %}
    <div class="page-header">
        <img class="release-icon-main" src="{{ url_for('static', filename='img/release-icon.png') }}" alt=""/>
        <img class="wave-fluid" src="{{ url_for('static', filename='img/black-wave.png') }}"/>
        <img class="release-title" src="{{ url_for('static', filename='img/release-title0.png') }}"/>
    </div>
    <div class="col-md-4" style="float:none;margin:0 auto;margin-bottom: 10%">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}