{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">
{% endblock %}

{% block title %}Flaskr{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">二手交易网</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">二手交易网</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">二手商品<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('goodsissue.issue_good') }}">发布二手</a></li>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">发布二手</a></li>
                        {% endif %}
                        <li><a href="#">购买二手</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">悬赏任务<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('bounty.issue_bounty') }}">发布悬赏</a></li>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">发布悬赏</a></li>
                        {% endif %}
                        <li><a href="#">领取任务</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ request.cookies.get('username') }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
