{% extends "base.html" %}

{% block title %}二手交易网站{% endblock %}

{% block page_content %}
    {% for good in goods %}
        <div class="col-sm-6 col-md-4" style="height: 450px">
            <div class="thumbnail" style="height: 100%">
                <img src="{{ url_for('static',filename='upload/'+good.imagefile) }}"
                     alt="{{ url_for('static',filename='img/1.svg') }}"
                     style="display: block; height: 200px; width: 320px"/>
                <div class="caption">
                    <h3>{{ good.name }}</h3>
                    <p>卖家：{{ good.owner }}</p>
                    <p>商品类别：{{ good.category }}</p>
                    <p>商品介绍：{{ good.introduction }}</p>
                    <p>价钱：{{ good.price }}</p>
                    {% if current_user.is_authenticated %}
                        <p><a href="{{ url_for('goodsissue.buygood', goodid=good.id) }}" class="btn btn-primary"
                              role="button">购买</a>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">联系卖家</button>
                        </p>
                    {% else %}
                        <p><a href="{{ url_for('auth.login') }}" class="btn btn-primary" role="button">购买</a>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">联系卖家</button>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        联系卖家
                    </h4>
                </div>
                <div class="modal-body">
                    已经向卖家发送短信，请等待卖家联系。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}
