{% extends "base.html" %}

{% block title %}二手交易网站{% endblock %}

{% block page_content %}
    <div class="page-header" style="clear:both;"><h1>出售的商品</h1></div>
    {% for good in mygoods %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ url_for('static',filename='upload/'+good.imagefile) }}" alt="{{ url_for('static',filename='img/1.svg') }}" style="display: block; height: 200px; width: 320px"/>
            <div class="caption">
                <h3>{{ good.name }}</h3>
                <p>卖家：{{ good.owner }}</p>
                <p>商品类别：{{ good.category }}</p>
                <p>商品介绍：{{ good.introduction }}</p>
                <p>价钱：{{ good.price }}</p>
                {% if good.good_trade %}
                <p>购买者：{{ good.good_tradeID }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="page-header" style="clear:both;"><h1>购买的商品</h1></div>
    {% for good in mybuygoods %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ url_for('static',filename='upload/'+good.imagefile) }}" alt="{{ url_for('static',filename='img/1.svg') }}" style="display: block; height: 200px; width: 320px"/>
            <div class="caption">
                <h3>{{ good.name }}</h3>
                <p>卖家：{{ good.owner }}</p>
                <p>商品类别：{{ good.category }}</p>
                <p>商品介绍：{{ good.introduction }}</p>
                <p>价钱：{{ good.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
