{% extends "base.html" %}

{% block title %}二手交易网站{% endblock %}

{% block page_content %}
    <div class="page-header" style="clear:both;"><h1>出售的商品</h1></div>
    {% for good in mygoods %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ url_for('static',filename='upload/'+good.imagefile) }}" alt="{{ url_for('static',filename='img/1.svg') }}" style="display: block; height: 200px; width: 320px"/>
            <div class="caption">
                <h3>{{ good.name }}</h3>
                {% if good.good_status == 1 %}
                <p>商品状态：已上架</p>
                {% elif good.good_status == 2 %}
                <p>商品状态：进行中</p>
                {% elif good.good_status == 3 %}
                <p>商品状态：已下架</p>
                {% endif %}
                <p>卖家：{{ good.owner }}</p>
                {% if good.category == 'life'  %}
                <p>商品类别：生活类</p>
                {% elif good.category == 'learn' %}
                <p>商品类别：学习类</p>
                {% endif %}
                <p>商品介绍：{{ good.introduction }}</p>
                <p>价钱：{{ good.price }}</p>
                {% if good.good_trade %}
                <p>购买者：{{ good.good_tradeID }}</p>
                {% endif %}
                {% if good.good_ifcomment %}
                <p>商品反馈：{{ good.good_comment }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="page-header" style="clear:both;"><h1>购买的商品</h1></div>
    {% for good in mybuygoods %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ url_for('static',filename='upload/'+good.imagefile) }}" alt="{{ url_for('static',filename='img/1.svg') }}" style="display: block; height: 200px; width: 320px"/>
            <div class="caption">
                <h3>{{ good.name }}</h3>
                {% if good.good_status == 1 %}
                <p>商品状态：已上架</p>
                {% elif good.good_status == 2 %}
                <p>商品状态：进行中</p>
                {% elif good.good_status == 3 %}
                <p>商品状态：已下架</p>
                {% endif %}
                <p>卖家：{{ good.owner }}</p>
                {% if good.category == 'life'  %}
                <p>商品类别：生活类</p>
                {% elif good.category == 'learn' %}
                <p>商品类别：学习类</p>
                {% endif %}
                <p>商品介绍：{{ good.introduction }}</p>
                <p>价钱：{{ good.price }}</p>
                {% if good.good_ifcomment %}
                <p>我的反馈：{{ good.good_comment }}</p>
                {% else%}
                <p><a href="{{ url_for('goodsissue.goodcomment', goodid=good.id) }}" class="btn btn-primary" role="button">进行反馈</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
